BODY {
  background-image: url(/img/colored\ backgrounf.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* ******************** NAV BAR ******************** */
.topnav {
  margin-top: -1%;
  margin-left: -7px;
  margin-right: -7px;
  background-image: url("/img/Colorful-Background-HD.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}
.topnav_link {
  color: black;
  font-family: system-ui;
  text-decoration: none;
  padding: 10px;
  word-spacing: 10px;
}
.topnav_link:hover {
  color: white;
  transition: 0.5s;
}

/* hide responsive menu */
#topnav_hamburger_icon,
#topnav_responsive_menu {
  display: none;
}

@media only screen and (max-width: 995px) {
  /* hide classic menu */
  #topnav_menu {
    display: none;
  }

  /* position home link at left and hamburger at right */
  #home_link {
    flex-grow: 1;
  }

  /* disable horizontal scrolling  */
  #root {
    position: relative;
    overflow-x: hidden;
  }

  /* show responsive menu and position at the right of the screen */
  #topnav_responsive_menu {
    display: block;
    position: absolute;
    margin: 0;
    right: 0;
    top: 0;
    margin-top: -1%;
    margin-left: -7px;
    margin-right: -7px;
    width: 100vw;
    height: 100vh;

    z-index: 99;

    transform-origin: 0% 0%;
    transform: translate(200%, 0);

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }

  #topnav_responsive_menu ul {
    display: flex;
    flex-direction: column;

    position: absolute;
    margin: 0;
    right: 0;
    top: 0;

    min-width: 50vw;
    height: 100vh;
    padding: 56px 0 0;

    text-align: center;

    background-image: url("/img/Colorful-Background-HD.png");
    background-repeat: no-repeat;
    background-size: cover;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
  }

  #topnav_responsive_menu li {
    padding: 12px 24px;
  }

  #topnav_responsive_menu a {
    white-space: nowrap;
    color: #333;
    text-decoration: none;
    font-family: system-ui;
  }

  #topnav_responsive_menu a:hover {
    color: white;
    transition: 0.5s;
  }

  /* And let's slide it in from the right */
  #topnav_responsive_menu.open {
    transform: none;
    position: fixed;
  }

  /* ******************** HAMBURGER ICON ******************** */
  /* define size and position of the hamburger link */
  #topnav_hamburger_icon {
    display: block;
    position: relative;
    margin: 16px;
    width: 33px;
    height: 28px;

    z-index: 100;

    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
  }

  /* define the style (size, color, position, animation, ...) of the 3 spans */
  #topnav_hamburger_icon span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    margin-bottom: 5px;

    background: #ededed;
    border-radius: 3px;

    z-index: 100;

    opacity: 1;
    left: 0;

    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }

  /* set the 3 spans position to look like a hamburger */
  #topnav_hamburger_icon span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left top;
    -moz-transform-origin: left top;
    -o-transform-origin: left top;
    transform-origin: left top;
  }
  #topnav_hamburger_icon span:nth-child(2) {
    top: 12px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }
  #topnav_hamburger_icon span:nth-child(3) {
    top: 24px;
    -webkit-transform-origin: left bottom;
    -moz-transform-origin: left bottom;
    -o-transform-origin: left bottom;
    transform-origin: left bottom;
  }

  /* change color when opening the menu */
  #topnav_hamburger_icon.open span {
    background: #333;
  }

  /* the first span rotates 45° \ */
  #topnav_hamburger_icon.open span:nth-child(1) {
    width: 110%;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /* the second span disappears */
  #topnav_hamburger_icon.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
  }

  /* the last span rotates -45° / */
  #topnav_hamburger_icon.open span:nth-child(3) {
    width: 110%;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}
/* <!-- ---------------------------menu burger ------------------------------------- --> */

h1 {
  text-align: center;
  font-size: 80px;
  font-weight: 900;
  font-family: "fredoka-one", cursive;
}

#logo {
  padding-top: 10px;
  padding-left: 10px;
  width: 280px;
  height: 70px;
  border-top-left-radius: 35%;
  border-bottom-right-radius: 35%;
}

button {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  width: 100px;
  height: 40px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background-image: linear-gradient(
    to right,
    #f16c00,
    #764ba2,
    #d0ff00,
    #f16c00
  );
  box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
  font-size: 12px;
  font-weight: 500;
  font-family: system-ui;
  margin-top: 24px;
}

button:hover {
  background-position: 100% 0;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

#div_intro {
  background-image: url("/img/VOLTAA.jpg");
  height: 600px;
  background-size: cover;
  margin-left: -8px;
  margin-right: -8px;
}
#intro {
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT";
  font-style: italic;
  font-size: x-large;
}
h2 {
  font-family: "fredoka one", cursive;
  text-align: center;
}
h3 {
  font-family: "fredoka one", cursive;
}
#divbi1 {
  margin-left: -8px;
  width: 50%;
  height: 650px;
  background-image: url(/img/gradient-background-backdrop-multicolor-colorful-vibrant-2560x1080-6723.png);
  background-size: cover;
}
#video_divbi1 {
  width: 100%;
}
#img_divbi2 {
  width: 100%;
}
#divbi2 {
  width: 50%;
  height: 650px;
  background-image: url(/img/vivid-blurred-colorful-background.jpg);
  background-size: cover;
}
#superdivbi {
  display: flex;
  background-repeat: no-repeat;
  text-align: center;
  margin-right: -8px;
}

#div_danse_1 {
  height: 400px;
  display: flex;
}
#super_div2 {
  display: flex;
  background-image: url(/img/Colorful-Background-HD.png);
  background-size: cover;
  margin-left: -8px;
  margin-right: -8px;
}
#last_superdiv {
  display: flex;
  height: 300px;
  background-image: linear-gradient(
    to right,
    rgb(43, 184, 0),
    rgb(113, 203, 255)
  );
  margin-left: -8px;
  margin-right: -8px;
  border-bottom-right-radius: 5%;
  border-top-right-radius: 5%;
  box-shadow: 1px 1px 4px 4px black;
}
#divfifa {
  background-image: url(/img/fifa19.jpg);
  background-size: cover;
  height: 300px;
  width: 50%;
}

#dernier_logo_gauche {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 85%;
  width: 150px;
  border: solid 5px;
  border-radius: 50%;
}

footer {
  width: 100%;
  height: 350px;
  background-image: url(/img/gradient-background-backdrop-multicolor-colorful-vibrant-2560x1080-6723.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
  margin-left: -8px;
  margin-bottom: -8px;
  padding-right: 16px;
}
h4 {
  font-family: "fredoka one", cursive;
  text-align: center;
}
#menu_footer {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  color: black;
}
#menu_footer a {
  color: black;
}
#menu_footer a:hover {
  color: white;
}

#footer_logos img {
  width: 40px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
#footer_logos {
  margin-top: 70px;
}

@media (max-width: 420px) {
  #menu_footer {
    display: none;
  }
}
@media (max-width: 450px) {
  h4 {
    font-size: 10px;
  }
  #footer_logos img {
    width: 30px;
  }
}
@media (max-width: 360px) {
  #logo {
    width: 200px;
    height: 50px;
  }
}

@media (max-width: 994px) {
  #div_intro {
    margin-left: 0px;
    margin-right: 0px;
  }
}
@media (max-width: 1030px) {
  #dernier_logo_gauche {
    margin-left: 85%;
    width: 90px;
  }
}
@media (max-width: 620px) {
  #dernier_logo_gauche {
    margin-left: 85%;
    width: 50px;
  }
}
@media (max-width: 400px) {
  #dernier_logo_gauche {
    margin-left: 85%;
    width: 30px;
  }
}
@media (max-width: 600px) {
  #dernier_bouton {
    display: none;
  }
}
@media (max-width: 500px) {
  #last_superdiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  #divfifa {
    display: none;
  }
  #divfifa_txt p {
    display: none;
  }
}
@media (max-width: 700px) {
  #super_div2 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 1500px) {
  #divbi1 video {
    width: 60%;
  }
  #divbi2 img {
    width: 60%;
  }
}
@media (max-width: 994px) {
  #superdivbi {
    margin-left: 10px;
    margin-right: 10px;
  }
}
@media (max-width: 600px) {
  #superdivbi {
    flex-direction: column;
    margin: 0;
  }
  #divbi2 {
    width: 100%;
    margin: 0;
  }
  #divbi1 {
    width: 100%;
    margin: 0;
  }
}
